<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
</beans>
<!--web.xml: cấu hình ứng dụng web của java. Trong đó có chỉ ra file cấu hình Spring MVC là dispatcher-servlet.xml-->
<!--        dispatcher-servlet.xml: cấu hình dành riêng cho ứng dụng Spring MVC-->
<!--        applicationContext.xml: định nghĩa các bean được chia sẻ giữa các servlet.-->